# --------- Basic Authentication via nginx ---------

# when using Basic Authentication connect to nginx on port 8080, otherwise connect to Ditto directly on port 8081
DITTO_BASE_URL=http://host.docker.internal:8080

# for regular account
DITTO_USERNAME=ditto
DITTO_PASSWORD=ditto

# for devops account
# DITTO_USERNAME=devops
# DITTO_PASSWORD=foobar

# --------- Pre Authentication ---------

# Directly connect to Ditto gateway for JWT authentication
# DITTO_BASE_URL=http://host.docker.internal:8081

# DITTO_PREAUTH_SUBJECT=nginx:ditto

# --------- JWT Authentication ---------

# Directly connect to Ditto gateway for JWT authentication
# DITTO_BASE_URL=http://host.docker.internal:8081

# DITTO_JWT_TOKEN=eyJraWQiOiJkaXR0byIsInR5cCI6IkpXVCIsImFsZyI6IlJTMjU2In0.eyJzdWIiOiJkaXR0byIsImF1ZCI6ImRpdHRvIiwibmJmIjoxNzc5NjQ3ODE4LCJpc3MiOiJodHRwOi8vaG9zdC5kb2NrZXIuaW50ZXJuYWw6OTkwMC9kaXR0byIsImV4cCI6MTc3OTY1MTQxOCwiaWF0IjoxNzc5NjQ3ODE4LCJqdGkiOiI0MTFiNmY5NC01YTBlLTQzOWYtYmUwNS1mMDU4Zjk3YWU0MGUifQ.VJ7Gs-oXD9OcAZ9saWQYczNvkdiFJH_u2y3LsV8AAAdb5aYBiv1UiurtrzYfS5nNsXw2p_OrzlQojGYIHe-8_JYcwZDaBpdn549pfkexbT-ArHCqUJzIvoJPhluTkFl1Ot2Zjw2PVprA18SCrtGX9grOX3IeYj2PBwlHJA5xIRewViNAetV75iX5yFPYX8fnVaiWqvSgeagHuRKysAhZRtQ9Fepxakq9xMVZIVgMJa-SIzi3mcL8QhCjdY70W7DvJz3SiVbIxSVyjGJ-c7RHivAoqAJPfhredGjsuZTDogBOUuRfwwzAddFB5OJnJQpa1-V1Qn-juEV7QAi_N5SH5g
